<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->

      <link rel="stylesheet" href="../../css/css-cart/style.css" type="text/css" />
      <link rel="stylesheet" href="../../css/css-cart/responsive.css" type="text/css" />

      <title>Giỏ hàng</title>
   </head>
   <body>
      <div class="root">
         <div class="white">
            <div class="navbar__block">
               <a class="navbar" href="/home">
                  <i class="fas fa-arrow-left arrow__home"></i>
                  <span class="navbar__title"> Trang chủ </span>
               </a>
            </div>
            <div class="cart__content">
               <ul class="category">
                  <li class="category__item">Sản phẩm</li>
                  <li class="category__item">Đơn giá</li>
                  <li class="category__item">Số lượng</li>
                  <li class="category__item">Số tiền</li>
                  <li class="category__item">Thao tác</li>
               </ul>

               <div class="cart__list">
                  <% if (cart && cart !== null) { %>
                  <!-- hiện thị sản phẩm trong giỏ hàng -->
                  <% cart.products.forEach( (product) => { %>
                  <div class="cart__item">
                     <div class="cart__item__info">
                        <div class="cart__item__img">
                           <img src="<%= product.productId.image %>" alt="" />
                        </div>
                        <div class="cart__item__name">
                           <span class="cart__item__name__title"
                              ><%= product.productId.name %>
                           </span>
                        </div>
                     </div>
                     <div class="cart__item__mb">
                        <div class="cart__item__price">
                           <span class="cart__item__price__title"
                              ><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                              'VND', }).format(product.productId.price) %></span
                           >
                        </div>
                        <div class="cart__item__quantity">
                           <div class="cart__item__quantity__block">
                              <a
                                 class="cart__item__quantity__btn btn__minus"
                                 data="<%= product.productId._id %>">
                                 <i class="fas fa-minus"></i>
                              </a>
                              <input
                                 class="cart__item__quantity__input input__number"
                                 type="number"
                                 value="<%= product.quantity %>"
                                 min="1"
                                 step="1"
                                 disabled />
                              <a
                                 class="cart__item__quantity__btn btn__plus"
                                 data="<%= product.productId._id %>">
                                 <i class="fas fa-plus"></i>
                              </a>
                           </div>
                        </div>
                        <div class="cart__item__total">
                           <span class="cart__item__total__title">
                              <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                              'VND', }).format((Number(product.productId.price) *
                              Number(product.quantity))) %>
                           </span>
                        </div>
                        <div class="cart__item__action">
                           <a
                              class="cart__item__action__btn btn__delete"
                              data="<%= product.productId._id %>">
                              <i class="fas fa-trash-alt"></i>
                           </a>
                        </div>
                     </div>
                  </div>
                  <% }) } else {%>
                     <p class="cart__empty">Giỏ hàng trống</p>
                  <% } %>
               </div>

               <div>
                  <form action="/cart/checkout" method="POST" class="cart__footer">
                     <div class="cart__message">
                        <h3 class="cart__message__title">Thêm chú thích cho đơn hàng</h3>
                        <input
                           type="text"
                           name="note"
                           class="cart__message__input"
                           placeholder="Ví dụ: Không thêm tương ớt,..." />
                     </div>
                     <div class="cart__total">
                        <div class="cart__total__block__mb">
                           <!-- hiện thị tổng tiền -->
                           <!-- tính tổng tiền -->
                           <% if (cart && cart !== null) { %>
                           <% let total = 0 %> <% cart.products.forEach((product) => { %> <% total
                           += (Number(product.productId.price) * Number(product.quantity)) %> <% })
                           %>
                           <!-- tiền ship -->
                           <% let ship = 10000 %>
                           <!-- tổng tiền -->
                           <% let totalMoney = total + ship %>
                           <div class="cart__total__block">
                              <span class="cart__total__title"> Tạm tính </span>
                              <span class="cart__total__price total__price__origin"
                                 ><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                                 'VND', }).format(total) %>
                              </span>
                           </div>
                           <div class="cart__total__block">
                              <span class="cart__total__title"> Phí vận chuyển </span>
                              <span class="cart__total__price ship__price"
                                 ><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                                 'VND', }).format(ship) %>
                              </span>
                           </div>
                           <div class="cart__total__block">
                              <span class="cart__total__title"> Tổng cộng </span>
                              <span class="cart__total__price total__price"
                                 ><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                                 'VND', }).format(totalMoney) %>
                              </span>
                           </div>
                        </div>
                        <% } else { %>
                        <div class="cart__total__block">
                           <span class="cart__total__title"> Tạm tính </span>
                           <span class="cart__total__price total__price__origin">0</span>
                        </div>
                        <div class="cart__total__block">
                           <span class="cart__total__title"> Phí vận chuyển </span>
                           <span class="cart__total__price ship__price">0</span>
                        </div>
                        <div class="cart__total__block">
                           <span class="cart__total__title"> Tổng cộng </span>
                           <span class="cart__total__price total__price">0</span>
                        </div>
                        <% } %>
                     </div>

                     <button type="submit" class="cart__total__btn">Đặt hàng</button>
                  </form>
               </div>
            </div>
         </div>
         <div class="orange">
            <div class="pay">
               <h3 class="pay__title">Lựa chọn phương thức thanh toán</h3>
               <div class="pay__select">
                  <div class="radio">
                     <input id="radio-1" name="radio" type="radio" checked />
                     <label for="radio-1" class="radio-label">Thanh toán bằng Momo</label>
                  </div>
                  <div class="radio">
                     <input id="radio-2" name="radio" type="radio" />
                     <label for="radio-2" class="radio-label">Thanh toán khi nhận hàng</label>
                  </div>
               </div>
            </div>
            <img src="../../images/cart.png" alt="" class="cart__img" />
         </div>

         <div class="overlay"></div>
         <div class="modal">
            <div class="modal__content">
               <div class="modal__content__header">
                  <h3 class="modal__content__header__title">
                     <i class="far fa-envelope"></i> Thông báo
                  </h3>
                  <a class="modal__content__header__btn">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
               <div class="modal__content__body">
                  <img src="../../images/Saly-3.png" alt="" />
                  <p class="modal__content__body__text">
                     Bạn đặt hàng thành công! Chúng tôi đã gửi email xác nhận đến hòm thư của bạn.
                  </p>
               </div>
            </div>
         </div>
      </div>

      <form method="POST" name="delete-form"></form>

      <!-- javascript -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>
      <!-- <script src="../../javascript/cartUser.js"></script> -->

      <script>
         // const pointer = document.querySelectorAll(".pointer");
         const deleteForm = document.forms['delete-form'];
         // console.log(pointer)

         let productId;

         const buttonDelete = document.querySelectorAll('.btn__delete');
         const buttonPlus = document.querySelectorAll('.btn__plus');
         const buttonMinus = document.querySelectorAll('.btn__minus');

         buttonDelete.forEach((button, index) => {
            button.addEventListener('click', () => {
               console.log(button.attributes);
               productId = button.attributes[1].value;
               deleteForm.action = `/cart/delete-one/${productId}?_method=DELETE`;
               deleteForm.submit();
            });
         });

         buttonPlus.forEach((button, index) => {
            button.addEventListener('click', () => {
               productId = button.attributes[1].value;
               deleteForm.action = `/cart/update-quantity-plus/${productId}?_method=PATCH`;
               deleteForm.submit();
            });
         });

         buttonMinus.forEach((button, index) => {
            button.addEventListener('click', () => {
               productId = button.attributes[1].value;
               // nếu số lượng = 1 thì không cho giảm nữa
               if (button.nextElementSibling.value == 1) {
                  return;
               }
               deleteForm.action = `/cart/update-quantity-minus/${productId}?_method=PATCH`;
               deleteForm.submit();
            });
         });

         // modal
         const modal = document.querySelector('.modal');
         const overlay = document.querySelector('.overlay');
         const btnClose = document.querySelector('.modal__content__header__btn');
         const btnOrder = document.querySelector('.cart__total__btn');

         let modalOpen = false;

         btnOrder.addEventListener('click', () => {
            modal.classList.add('active');
            overlay.classList.add('active');
            modalOpen = true;
         });

         btnClose.addEventListener('click', () => {
            modal.classList.remove('active');
            overlay.classList.remove('active');
            modalOpen = false;
         });
      </script>
   </body>
</html>
