<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->
      <link rel="stylesheet" href="../../../css/css-productItem/style.css" />
      <link rel="stylesheet" href="../../../css/css-productItem/responsive.css">

      <title><%= productItem.name %> </title>
   </head>
   <body>

      <div class="root">
         <div class="container">
            <nav class="navbar">
               <a class="back-home" href="/home">
                  <i class="fas fa-arrow-left"></i>
                  Trang chủ
               </a>
               <h3 class="product-name">
                  <%= productItem.name %>
               </h3>
            </nav>

            <div class="content">
               <img src="<%= productItem.image %> " alt="<%= productItem.name %> " class="product__img" />
               <div class="product__content">
                  <h2 class="product__name">
                     <%= productItem.name %>
                  </h2>
                  <p class="product__desc">
                     <%= productItem.description %>
                  </p>
                  <div class="product__price">
                     <span class="product__price--old">
                        <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                              'VND', }).format(productItem.price) %>
                     </span>
                  </div>
               </div>
            </div>

            <div class="product__desc-container">
               <h3 class="product__desc--title">Mô tả sản phẩm</h3>
               <div class="product__desc--content">
                  <h4 class="product__desc-title-text">
                     Nguyên liệu:
                  </h4>
                  <p class="product__desc-ingredient">
                     <%= productItem.ingredient %>
                  </p>
                  <h4 class="product__desc-title-text">
                     Cách chế biến:
                  </h4>
                  <p class="product__desc-process">
                     <%= productItem.process %>
                  </p>
               </div>
            </div>

            <div class="slider__product">
               <h2 class="title">
                  <i class="fas fa-fire"></i>
                  Sản phẩm nổi bật
               </h2>
               <div class="slider__product__list"></div>
            </div>
         </div>
      </div>

      <!-- javascript -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>
      <script src="../../../javascript/productItem.js"></script>
   </body>
</html>
